<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <description>Spring Context Configuration</description>
    
     <!-- 扫描service-->
    <context:component-scan base-package="com.river.druiddemo" >
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
   	 	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
   	 	<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>
    
    
    <!-- 导入mybatis配置 -->
	<import resource="classpath:spring/spring-mybatis.xml" />
	
	<!-- 配置执行任务线性池 -->
	<task:executor id="executor" pool-size="3"/>
	<!-- 配置任务调度线程池-->
	<task:scheduler id="scheduler" pool-size="3"/>
	<!-- 启用annotation方式 -->
	<task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true"/>
	
	
	
</beans>
